

/* browser default override */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* generic style */
main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    /* generic style */
}
/* header style */
h1 {
    font-family: 'Kenia', sans-serif;
    text-align: center;
    font-size: 150px;
}

/* main body */
main {
    background-color: blue;
}

/* footer */
footer {
    background-color: chocolate;
}