 /* browser default override */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 /* generic style */
 main {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /* generic style */
 }

 /* header */
 header {
     width: 100%;
     position: fixed;
     z-index: 90;
     display: flex;
     flex-direction: column;
 }

 #logo {
     font-family: 'Kenia', sans-serif;
     text-align: center;
     font-size: 100px;
     color: black;
 }

 nav {
     text-align: center;
     font-size: 20px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 /* main body */
 main {
     background-color: #ffffff;
 }

 /* footer */
 footer {
     background-color: chocolate;
 }